/*! destyle.css v1.0.11 | MIT License | https://github.com/nicolas-cusan/destyle.css */

/* Reset box-model
   ========================================================================== */

* {
	box-sizing: border-box;
}

::before,
::after {
	box-sizing: inherit;
}

/* Document
   ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */

html {
	line-height: 1.15; /* 1 */
	-webkit-text-size-adjust: 100%; /* 2 */
	-webkit-tap-highlight-color: transparent; /* 3*/
}

/* Sections
   ========================================================================== */

/**
 * Remove the margin in all browsers.
 */

body {
	margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */

main {
	display: block;
}

/* Vertical rhythm
   ========================================================================== */

p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
	margin: 0;
}

/* Headings
   ========================================================================== */

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	line-height: inherit;
	font-weight: inherit;
	margin: 0;
}

/* Lists (enumeration)
   ========================================================================== */

ul,
ol {
	margin: 0;
	padding: 0;
	list-style: none;
}

/* Lists (definition)
   ========================================================================== */

dt {
	font-weight: bold;
}

dd {
	margin-left: 0;
}

/* Grouping content
   ========================================================================== */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
	box-sizing: content-box; /* 1 */
	height: 0; /* 1 */
	overflow: visible; /* 2 */
	border: 0;
	border-top: 1px solid;
	margin: 0;
	clear: both;
	color: inherit;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
	font-family: monospace, monospace; /* 1 */
	font-size: inherit; /* 2 */
}

address {
	font-style: inherit;
}

/* Text-level semantics
   ========================================================================== */

/**
 * Remove the gray background on active links in IE 10.
 */

a {
	background-color: transparent;
	text-decoration: none;
	color: inherit;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
	border-bottom: none; /* 1 */
	text-decoration: underline; /* 2 */
	text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
	font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
	font-family: monospace, monospace; /* 1 */
	font-size: inherit; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */

small {
	font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sub {
	bottom: -0.25em;
}

sup {
	top: -0.5em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove the border on images inside links in IE 10.
 */

img {
	border-style: none;
	vertical-align: bottom;
}

embed,
object,
iframe {
	border: 0;
	vertical-align: bottom;
}

/* Forms
   ========================================================================== */

/**
 * Reset form fields to make them styleable
 * 1. Reset radio and checkbox to preserve their look in iOS.
 */

button,
input,
optgroup,
select,
textarea {
	-webkit-appearance: none;
	appearance: none;
	vertical-align: middle;
	color: inherit;
	font: inherit;
	border: 0;
	background: transparent;
	padding: 0;
	margin: 0;
	outline: 0;
	border-radius: 0;
	text-align: inherit;
}

[type='checkbox'] {
	/* 1 */
	-webkit-appearance: checkbox;
	appearance: checkbox;
}

[type='radio'] {
	/* 1 */
	-webkit-appearance: radio;
	appearance: radio;
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input {
	/* 1 */
	overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select {
	/* 1 */
	text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type='button'],
[type='reset'],
[type='submit'] {
	cursor: pointer;
	-webkit-appearance: none;
	appearance: none;
}

button[disabled],
[type='button'][disabled],
[type='reset'][disabled],
[type='submit'][disabled] {
	cursor: default;
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
	border-style: none;
	padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type='button']:-moz-focusring,
[type='reset']:-moz-focusring,
[type='submit']:-moz-focusring {
	outline: 1px dotted ButtonText;
}

/**
 * Reset to invisible
 */

fieldset {
	margin: 0;
	padding: 0;
	border: 0;
	min-width: 0;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
	color: inherit; /* 2 */
	display: table; /* 1 */
	max-width: 100%; /* 1 */
	padding: 0; /* 3 */
	white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
	vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */

textarea {
	overflow: auto;
}

/**
 * 1. Remove the padding in IE 10.
 */

[type='checkbox'],
[type='radio'] {
	padding: 0; /* 1 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
	height: auto;
}

/**
 * 1. Correct the outline style in Safari.
 */

[type='search'] {
	outline-offset: -2px; /* 1 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type='search']::-webkit-search-decoration {
	-webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
	-webkit-appearance: button; /* 1 */
	font: inherit; /* 2 */
}

/**
 * Clickable labels
 */

label[for] {
	cursor: pointer;
}

/* Interactive
   ========================================================================== */

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */

details {
	display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
	display: list-item;
}

/* Table
   ========================================================================== */

table {
	border-collapse: collapse;
	border-spacing: 0;
}

caption {
	text-align: left;
}

td,
th {
	vertical-align: top;
}

th {
	text-align: left;
	font-weight: bold;
}

/* Misc
   ========================================================================== */

/**
 * Add the correct display in IE 10+.
 */

template {
	display: none;
}

/**
 * Add the correct display in IE 10.
 */

[hidden] {
	display: none;
}

/*
	========================================================================= */

/* Generic */
:root {
	--element: #78cc6d;
	--content-bg: #31313a;
	--body-bg: #26262d;
	/*Font colors*/
	--dark-text: #ffffff8c;
	--white-text: #fff;
	--intermediate-text: #f7f7f7;
}

html {
	scroll-behavior: smooth;
	height: 100%;
}

p, ul {
	font-size: 16px;
	margin: 20px 0 30px 0;
	line-height: 26px;
	text-align: justify;
}

h2 {
	font-size: 22px;
	margin: 10px 0 10px 0;
	padding-top: 7px;
	padding-left: 3px;
	font-weight: bold;
	color: var(--white-text);
	text-shadow: black 1px 0 5px;
}

h3{
	color: var(--intermediate-text);
	text-shadow: black 1px 0 5px;
}

main {
	width: 100%;
}

.contact-google-map{
	width: 100%;
	height: 250px;
	overflow: hidden;
}

/* Body */
.main-body {
	color: var(--dark-text);
	background: var(--body-bg);
	font-family: 'Poppins', sans-serif;
	margin: 0 8px;
}

/* Header */

.header {
	z-index: 10;
	top: 0;
	background: var(--content-bg);
	width: calc(100% - 16px);
	height: 70px;
	position: fixed;
	text-transform: uppercase;
	border-radius: 5px 5px 0 0;
	box-shadow: black 1px 1px 50px;
}

.main-nav {
	margin-top: 10px;
	display: flex;
	justify-content: center;
}

.main-nav-item {
	display: flex;
	flex-direction: column;
	color: var(--white-text);
	text-decoration: none;
	width: 25%;
	text-align: center;
	border-right: solid 1px #676767c7;
}

.main-nav-item:last-child {
	border: none
}

.main-nav-item span {
	font-size: 12px;
	margin-top: 5px;
}

.main-nav-item i {
	font-size: 30px;
}

/* Main content design */

.main-header {
	background: var(--content-bg);
	height: calc(100vh - 140px);
	position: relative;
}

.profile-background {
	width: 100%;
	padding-top: 50vh;
	background-image: url(https://i.ibb.co/br01spM/tony-bg.png);
	background-size: auto;
	background-repeat: no-repeat;
	background-position: bottom center;
}

/* Profile */

.profile-picture {
	width: 30%;
	height: auto;
	border-radius: 50%;
	border: solid 3px grey;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: -15vh;
	position: relative;
	min-width: 200px;
}

.profile-name {
	margin-top: 20px;
	color: var(--white-text);
	text-align: center;
	font-size: 34px;
}

.profile-age {
	color: #d0d0d0;
	text-align: center;
	font-size: 16px;
}

.profile-subtitle {
	font-size: 16px;
	text-align: center;
	color: #ff9800;
}

.profile-subtitle-span:before {
	content: '';
	animation: animate infinite 8s;
}

@keyframes animate {
	0% {
		content: "am a Developper";
	}
	25% {
		content: "love PHP";
	}
	50% {
		content: "am UX/UI oriented";
	}
	75% {
		content: "am a high-tech enthousiast";
	}
	100% {
		content: "am a Developper";
	}
}

/* Social*/

.profile-social {
	display: flex;
	justify-content: center;
}

.profile-social-item {
	text-decoration: none;
	width: 24px;
	height: 24px;
	margin: 20px 5px;
}

.profile-social-item i {
	text-decoration: none;
	color: var(--white-text);
	font-size: 24px;
}

/* Footer */

.footer {
	background: var(--content-bg);
	width: 100%;
	height: 70px;
	text-transform: uppercase;
	display: flex;
	border-radius: 0 0 5px 5px;
}

.footer-item {
	display: flex;
	flex-direction: row;
	color: var(--white-text);
	text-decoration: none;
	width: 50%;
	text-align: center;
	justify-content: center;
	align-items: center;
	font-size: 12px;
}

.footer-item span {
	padding-right: 15px;
}

.footer-item:first-child {
	border-right: solid 1px #676767c7;
}

.footer-item {
	border-top: solid 1px #676767c7;
}

/* More infos */

#content-contact, #content-portfolio, #content-resume, #content-blog {
	display: none;
}

.single-img-container img {
	width: 100%;
	height: auto;
}

.profile-more-info {
	position: relative;
	background: var(--content-bg);
	padding: 30px;
	margin: 20px 0;
	border-radius: 5px;
}

.soft-container, .hard-container, .about-container, .resume-container,
.portfolio-container, .contact-container, .blog-container {
	position: relative;
	margin-bottom: 80px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

h2{
	width: 100%;
}

.h2-main:before, .soft-skills:before, .hard-skills:before, .h2-skills:before,
h2.resume-main-title:before {
	content: '';
	position: absolute;
	left: -10px;
	top: 10px;
	width: 30px;
	height: 30px;
	background: linear-gradient(135deg, rgba(120, 204, 109, 0.4) 0%,
	rgba(120, 204, 109, 0.01) 100%);
	border-radius: 50%;
}

.birth, .adress, .email {
	text-align: left;
}

/* Gradient borders */

.resume-date-functions:before {
	content: "";
	background-image: linear-gradient(to right, #ffffff52, #5e8e629e);
	height: 2px;
	width: 100%;
	position: absolute;
	margin-top: 15px;
}

/* Resume */

.resume-date-functions {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.resume-date-functions p {
	text-align: right;
}

.resume-date-functions p:first-child {
	font-weight: bold;
	font-style: italic;
	text-align: left;
}

.arrow {
	padding: 0 15px;
}

/* Portfolio */

.img-shadow-1 {
	-webkit-box-shadow: 0 28px 16px -26px black;
	-moz-box-shadow: 0 28px 16px -26px black;
	box-shadow: 0 28px 16px -26px black;
}

.img-shadow-1:hover {
	transform: scale(1.1);
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
	-webkit-box-shadow: 0 58px 36px -56px black;
	-moz-box-shadow: 0 58px 36px -56px black;
	box-shadow: 0 58px 36px -56px black;
}

.img-shadow-1 {
	transition: all .6s ease-in-out;
	-webkit-transition: all .6s ease-in-out;
	-moz-transition: all .6s ease-in-out;
	-o-transition: all .6s ease-in-out;
}

.img-shadow-1:hover {
	transition: all .6s ease-in-out;
	-webkit-transition: all .6s ease-in-out;
	-moz-transition: all .6s ease-in-out;
	-o-transition: all .6s ease-in-out;
}

.anti-overlay {
	position: absolute;
	display: flex;
	flex-wrap: wrap;
	height: auto;
	padding: 20px;
	background: #000000bd;
	width: 90%;
}

.single-img-container.image-hover.img-shadow-1 .date {
	display: block;
	text-align: center;
	width: 100%;
}

.image-hover {
	border: 10px solid #fff;
	box-shadow: 0 2px 3px black;
	-moz-box-shadow: 0 2px 3px black;
	cursor: pointer;
}

.single-img-container {
	margin-top: 40px;
	margin-bottom: 40px;
}

.single-img-container.image-hover.img-shadow-1 p {
	display: none;
	padding: 0;
	margin: 0;
}

.single-img-container.image-hover.img-shadow-1 {
	display: flex;
	align-items: center;
	justify-content: center;
	width: auto;
	height: auto;
	background-size: cover;
	text-align: center;
}

.single-img-container.image-hover.img-shadow-1:hover p {
	display: flex;
	position: absolute;
	width: calc(100% - 80px);
}

.single-img-container:hover .overlay {
	background: black;
	width: 100%;
	height: 100%;
	opacity: 0.85;
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 0;
}

.single-img-container:hover .anti-overlay {
	display: none;
}

.anti-overlay h3 {
	font-size: 24px;
	color: #ffffff;
	text-shadow: black 0 0 10px;
	font-weight: bold;
	width: 100%;
}

.single-img-container.image-hover.img-shadow-1 .date {
	font-size: 14px;
	color: #ffffff;
	text-shadow: black 0 0 10px;
	font-weight: bold;
	padding-top: 20px;
	width: 100%;
}

.overlay {
	display: none;
	text-align: center;
	margin: 0;
}

/* Contact */
.contact-form-item input,
.contact-form-item select,
.contact-form-item textarea{
	width: 100%;
	height: 30px;
	border-radius: 5px;
}

.contact-form-item textarea{
	height: 200px;
}

.contact-form-item select{
	height: 40px;
	margin: 0;
	width: calc(100% + 5px);
}

.contact-form-button{
	float: right;
	height: 30px;
	border-radius: 5px;
}

.contact-form{
	margin-top: 40px;
}

/* Scroll to top */
#button {
	display: inline-block;
	background-color: var(--element);
	width: 100%;
	height: 50px;
	text-align: center;
	position: fixed;
	bottom: 0;
	left: 0;
	transition: background-color .3s, opacity .5s, visibility .5s;
	opacity: 0;
	visibility: hidden;
	z-index: 1000;
}
#button::after {
	content: "\f077";
	font-family: FontAwesome, serif;
	font-weight: normal;
	font-style: normal;
	font-size: 2em;
	line-height: 50px;
	color: #fff;
}
#button:hover {
	cursor: pointer;
	background-color: #498e40;
}
#button:active {
	background-color: #555;
}
#button.show {
	opacity: 1;
	visibility: visible;
}

/* Popup no cookies */
#modal{
	display: flex;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	min-height: 40px;
	font-size: 16px;
	background: #65a05a;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	color: #fff;
	text-shadow: black 0 0 5px;
	text-align: center;
	padding: 15px 40px;
}

#modal-close, #theme-switcher-close {
	position: fixed;
	right: 15px;
	font-size: 30px;
}

/* Contact */
.contact-form {
	width: 100%;
}
.contact-form-item {
	border: solid 2px grey;
	padding: 0 0 0 20px;
}


@media print {
	.scrolltop-wrap {
		display: none !important;
	}
}

/* About item background */
.split-text strong {
	margin-right: 8px;
	padding: 1px 18px;
	background: var(--element);
	font-size: 14px;
	line-height: 20px;
	color: #fefefe;
	font-weight: 400;
	text-transform: none;
	border-radius: 2px;
	text-align: left;
}

/* Descriptiv items */
.big-title, .big-icon, .big-description {
	text-align: center;
	padding: 10px;
}
.big-title{
	font-size: 18px;
	font-weight: bold;
	margin-top: 10px;
}
.big-icon{
	border-radius: 50%;
	background: var(--element);
	width: 60px;
	height: 60px;
	font-size: 32px;
	text-align: center;
	padding-top: 14px;
}
.big-description{
	font-size: 16px;
	margin: 0;
}
.item-container {
	margin-top: 30px;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

.soft-container .half-container {
	display: flex;
	flex-wrap: wrap;
	padding: 0;
	width: 100%;
}

.about-container .half-container {
	display: flex;
	flex-wrap: wrap;
	width: 50%;
	flex-direction: column;
	padding: 10px;
}

h3.resume-main-title {
	width: 100%;
	text-transform: uppercase;
	font-size: 20px;
	font-weight: bold;
	padding: 20px 0 20px 0;
}

.resume-icon {
	color: var(--element);
	font-size: 20px;
}

.resume-date {
	color: var(--element);
	border: solid 1px;
	padding: 1px 10px;
	border-radius: 3px;
	font-size: 12px;
	margin-bottom: 15px;
	width: fit-content;
}

.resume-container .item-container {
	margin: 0;
	align-items: unset;
	width: 100%;
	height: 280px;
}

.resume-page-title {
	color: var(--white-text);
	font-size: 18px;
	margin-bottom: 5px;
}

.resume-container .item-container:after {
	display: none;
}

.resume-enterprise {
	font-size: 14px;
}

/* Progress bar */
.progress {
	width: 100%;
	height: 20px;
}

.progress-dot {
	background: var(--element);
	width: 14px;
	height: 14px;
	font-size: 14px;
	display: inline-block;
	border-radius: 50%;
	margin-right: 2%;
}

.progress-dot.empty-dot {
	background: lightgray;
}

.circle-item-container{
	margin: 0;
	width: 100%;
	height: 280px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

.circle-flex-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.circle-flex-container p {
	margin: 0;
}

.progress-flex-container {
	height: 280px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.gradient-border:after {
	content: '';
	position: relative;
	width: 100%;
	height: 1px;
	background: radial-gradient(ellipse at center, rgba(197, 202, 213, 0.15) 0%, rgba(255, 255, 255, 0) 70%);
	margin-top: 20px;
}

.gradient-border-title:after {
	content: '';
	position: absolute;
	width: 100%;
	height: 1px;
	background: radial-gradient(ellipse at left, rgba(197, 202, 213, 0.15) 0%, rgba(255, 255, 255, 0) 70%);
	left: 0;
	top: 0;
	margin-top: 50px;
}

.half-container:last-child:after {
	background: radial-gradient(ellipse at top, rgba(197, 202, 213, 0.15) 0%,
	rgba(255, 255, 255, 0) 70%);
	content: '';
	position: absolute;
	left: 50%;
	top: 55px;
	width: 0;
	height: 100%;
}

.resume-container .item-container:before {
	content: '';
	position: relative;
	top: 250px;
	width: 100%;
	height: 1px;
	background: radial-gradient(ellipse at center, rgba(197, 202, 213, 0.15) 0%, rgba(255, 255, 255, 0) 70%);
	margin-top: 15px;
}

.split-text:before {
	content: '';
	position: absolute;
	right: 0;
	width: 50%;
	height: 1px;
	background: radial-gradient(ellipse at center, rgba(197, 202, 213, 0.15) 0%, rgba(255, 255, 255, 0) 70%);
	margin-top: 40px;
}

/* 576px - 768px - 992px - 1200px */

@media screen and (min-width: 576px) {
	.main-nav-item span {
		font-size: 16px;
		margin-top: 2px;
	}
	.profile-social-item {
		text-decoration: none;
		width: 26px;
		height: 26px;
	}
	.profile-social-item i {
		font-size: 26px;
	}
	.footer-item {
		font-size: 16px;
	}
	.resume-container{
		align-items: flex-start;
	}
}

@media screen and (min-width: 768px) {
	.main-body {
		display: flex;
		flex-wrap: wrap;
	}
	.main-nav, .header {
		display: flex;
		flex-direction: column;
	}
	.header {
		position: fixed;
		height: 400px;
		width: 80px;
		border-radius: 5px;
		margin-left: calc(((100vw - 600px) / 2) - 100px);
	}
	.main-nav {
		margin-top: 0;
	}
	.main-nav-item {
		width: 80px;
		height: 80px;
		border: none;
		border-bottom: 1px solid grey;
		align-items: center;
		justify-content: center;
	}
	.main-nav-item span {
		font-size: 12px;
		margin-top: 10px
	}
	.main-nav-item i {
		font-size: 16px;
	}
	.profile-background {
		margin-top: 0;
		padding-top: calc(50% + 70px);
	}

	.footer-item {
		font-size: 20px;
	}
	.main-body-inner {
		margin: 0 auto;
	}
	.main-header, .main-card-container, .content-main-card {
		width: 600px;
		height: 600px;
		border-radius: 5px;
		margin: 0 auto;
	}
	.footer {
		width: 600px;
		height: 70px;
		margin: 0 auto;
	}
	.profile-more-info {
		margin: 80px auto 0 auto;
	}

	p.split-text{
		text-align: right;
	}

	.split-text strong{
		float: left;
	}
	/* Descriptiv items */
	.big-title, .big-icon, .big-description {
		text-align: center;
		padding: 10px;
	}
	.big-title{
		font-size: 18px;
		font-weight: bold;
		margin-top: 10px;
	}
	.big-icon{
		border-radius: 50%;
		background: var(--element);
		width: 60px;
		height: 60px;
		font-size: 32px;
		text-align: center;
		padding-top: 14px;
	}
	.big-description{
		font-size: 16px;
		margin: 0;
	}
	.item-container {
		width: 50%;
	}

	.soft-container .half-container {
		display: flex;
		flex-wrap: wrap;
		padding: 0;
		width: 100%;
	}

	.about-container .half-container,
	.resume-container .half-container{
		display: flex;
		flex-wrap: wrap;
		width: 50%;
		flex-direction: column;
		padding: 10px;
	}
	.half-container:last-child:after {
		background: radial-gradient(ellipse at top, rgba(197, 202, 213, 0.15) 0%, rgba(255, 255, 255, 0) 70%);
		content: '';
		position: absolute;
		left: 50%;
		top: 55px;
		width: 1px;
		height: 100%;
	}

}

@media screen and (min-width: 1200px) {
	.main-body {
		flex-wrap: nowrap;
		margin-top: calc((100vh - 650px) / 2);
	}
	.main-header, .main-card-container, .content-main-card {
		width: 500px;
	}
	.footer {
		width: 500px;
	}
	.content-main-card {
		display: flex;
		width: 1100px;
		margin-left: calc(((100vw - 1100px) / 2) + 40px);
	}
	.header {
		position: absolute;
		margin-left: calc(((100vw - 1100px) / 2) - 45px);
		margin-top: calc((100vh - 650px) / 2);
	}

	.profile-background {
		margin-top: 0;
		padding-top: calc(50% + 70px);
	}

	.profile-more-info {
		height: 650px;
		overflow-y: scroll;
		border-radius: 0 5px 5px 0;
		margin: 10px auto 0;
	}
	.main-card-container {
		box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.5);
		z-index: 10;
	}
	.main-header, .profile-background {
		border-radius: 5px 5px 0 0;
	}
	.style-10::-webkit-scrollbar {
		width: 10px;
		background-color: #F5F5F5;
	}
	.style-10::-webkit-scrollbar-thumb {
		border-radius: 10px;
		background: linear-gradient(to left, #96A6BF, #63738C);
		box-shadow: inset 0 0 1px 1px #5C6670;
	}
	.style-10::-webkit-scrollbar-track {
		border-radius: 10px;
		background: #eee;
		box-shadow: 0 0 1px 1px #bbb, inset 0 0 7px rgba(0, 0, 0, 0.3)
	}
	.style-10::-webkit-scrollbar-thumb:hover {
		background: linear-gradient(to left, #8391A6, #536175);
	}
	.resume-container{
		display: flex;
		flex-wrap: wrap;
		align-items: flex-start;
	}
	.resume-main-title {
		width: 100%;
	}
}

/*
	Animated background
	https://codepen.io/mohaiman/pen/MQqMyo
*/
.area{
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: -1;
}

.circles{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.circles li{
	position: absolute;
	display: block;
	list-style: none;
	width: 20px;
	height: 20px;
	background: rgba(255, 255, 255, 0.2);
	animation: animate-bg 25s linear infinite;
	bottom: -150px;

}

.circles li:nth-child(1){
	left: 25%;
	width: 80px;
	height: 80px;
	animation-delay: 0s;
}


.circles li:nth-child(2){
	left: 10%;
	width: 20px;
	height: 20px;
	animation-delay: 2s;
	animation-duration: 12s;
}

.circles li:nth-child(3){
	left: 70%;
	width: 20px;
	height: 20px;
	animation-delay: 4s;
}

.circles li:nth-child(4){
	left: 40%;
	width: 60px;
	height: 60px;
	animation-delay: 0s;
	animation-duration: 18s;
}

.circles li:nth-child(5){
	left: 65%;
	width: 20px;
	height: 20px;
	animation-delay: 0s;
}

.circles li:nth-child(6){
	left: 75%;
	width: 110px;
	height: 110px;
	animation-delay: 3s;
}

.circles li:nth-child(7){
	left: 35%;
	width: 150px;
	height: 150px;
	animation-delay: 7s;
}

.circles li:nth-child(8){
	left: 50%;
	width: 25px;
	height: 25px;
	animation-delay: 15s;
	animation-duration: 45s;
}

.circles li:nth-child(9){
	left: 20%;
	width: 15px;
	height: 15px;
	animation-delay: 2s;
	animation-duration: 35s;
}

.circles li:nth-child(10){
	left: 85%;
	width: 150px;
	height: 150px;
	animation-delay: 0s;
	animation-duration: 11s;
}


@keyframes animate-bg {

	0%{
		transform: translateY(0) rotate(0deg);
		opacity: 1;
		border-radius: 0;
	}

	100%{
		transform: translateY(-1000px) rotate(720deg);
		opacity: 0;
		border-radius: 50%;
	}

}

#theme-switcher {
	display: flex;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 48px;
	font-size: 16px;
	background: #65a05a;
	justify-content: center;
	align-items: center;
	color: #fff;
	text-shadow: black 0 0 5px;
	text-align: center;
	padding: 15px 40px;
}

#theme-switcher-close {
	cursor: pointer;
}

#theme-switcher button {
	padding: 5px 10px;
	border-radius: 5px;
	border: solid #4c4c4c 2px;
	margin: 0 10px;
	background: #3e4148;
	cursor: pointer;
}